# Ignore large data
Data/
logs/
Misc/

# This changes frequently (run parameters) so I don't need to constantly push it 
params.sh 

# ROOT / physics outputs
*.root
*.lhe
*.out
*.err
*.log
*.dat

# Python
__pycache__/
*.pyc

# SLURM
slurm-*.out