# Ignore large data
LHEF*/
Storage*/
Data*/
TeV13p*/
logs*/
Summary*/

# Not necessary to track 
Analysis/Misc/BiplanarityTest.ipynb
Analysis/Misc/LHE_analysis.ipynb

# ROOT / physics outputs
*.root
*.lhe
*.out
*.err
*.log
*.dat
*.pkl

# Python
__pycache__/
*.pyc

# SLURM
slurm-*.out