# Ignore large data
LHEF*/
Storage*/
Data*/
TeV13p*/
logs*/
Misc/
Summary*/

# Ignore stuff in Analysis 
Analysis/functions_py_test.ipynb
Analysis/LambdifyAndpT.ipynb
Analysis/Plots/
Analysis/LHE_analysis.py
Analysis/LHE_analysis.ipynb
Analysis/ClusterData/
Analysis/m2_values_test.py
Analysis/BiplanarityTest.ipynb
Analysis/make_DR_list.py

# ROOT / physics outputs
*.root
*.lhe
*.out
*.err
*.log
*.dat
*.pkl

# Python
__pycache__/
*.pyc

# SLURM
slurm-*.out